.filter__bar {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 22rem;
    margin-left: 1rem;
    padding: 0 1rem 1rem;
    background: #fff;
    z-index: 99999;

    h3 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .parking_layout {
        display: flex;
        align-items: center;

        label {
            padding-top: 7px;
        }
    }

    label {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        text-transform: uppercase;
    }
}